version: "3.8"

services:
  app:
    build: .
    container_name: inventory-service
    env_file:
      - .env
    ports:
      - "${PORT:-3000}:3000" # HTTP
      - "9229:9229"          # Debug (Chrome -> chrome://inspect)
    volumes:
      - .:/app               # код з хоста
      - /app/node_modules    # щоб node_modules були всередині контейнера
      - ./cache:/app/cache   # фото зберігаються поза контейнером
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: inventory-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  pgdata: